/* testing only : style only in Navigation Bar */

nav a {
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: black;
  overflow: hidden;
}

nav a:hover {
  color: tomato;
}

nav a:visited {
  color: violet;
}
